.Show_Results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: jetbrains-mono;
    font-size: 20px;
    align-items: center;
    text-align: center;
  }
body {
  background-image: url("background_color.png");
  background-position: 50% 50%;
  background-repeat: repeat;
}
  #year-options {
    display: flex;
    gap: 10px;
    margin: 20px;
  }
  .car-image {
    width: 100px;
    height: 180px;
    text-align: center;
  }
  #user-list {
    display: grid;
    gap: 2px;
    min-height: 480px;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
  .car-item {
    display: grid;
    font-family: jetbrains-mono;
    font-size: 25px;
    height: 300px;
    flex-direction: column;
    background-color: #b9db92;
    border: 3px solid black;
    padding: 5px;
    gap: 5px;
    margin: 50px;
    box-shadow: 4px 12px 18px 4px rgba(0,0,0,0.2);
    text-align: center;
    
  }
  .filter-option,
  .active-option {
    padding: 10px 20px;
    min-width: 50px;
    border-radius: 2rem;
    align-items: center;
    text-align: center;
  }
  .brand-filter {
    display: flex;
    margin: 15px;
    align-items: center;
    text-align: center;
  }
  #brand-input {
    width: 80px;
    margin: 0 10px;
    height: 30px;
    align-items: center;
    text-align: center;
  }
  .filter-option:hover,
  .active-option {
    background-color: #48b393;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: all 0.1s;
    align-items: center;
    text-align: center;
    
  }